@import "../../../../../config/style.config.scss";
$border-thickness: 2px;

.select_container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.label{
    color: white;
    font-family: ubuntu-regular;
    font-size: $font-size-small;
    margin-bottom: 3px;
}

.select{
    font-size: $font-size-small;
    outline: none;
    border: none;
    padding: 5px 10px;

    border-radius: 5px;
    border: $border-thickness solid rgba(1,1,1,0);
}