@import "../../../../../config/style.config.scss";
$border-width: 2px;


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}

.label{
    color: white;
    font-family: ubuntu-regular;
    font-size: $font-size-small;
    margin-bottom: 3px;
}
.input{
    font-size: $font-size-small;
    outline: none;
    border: none;
    padding: 5px 10px;

    border-radius: 5px;
    border: $border-width solid rgba(1,1,1,0);
}
.input:focus{
    border: $border-width solid $netflix-red;
}