@import "../../../../config/style.config.scss";



.experimentSetupForm{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: center;
    justify-content: space-between;
}